.b-primereact-button{
  &.p-button{
    padding: 10px;
    background-color: white;
    border: 0;
    min-width: 148px;
  }

  
  &--auto{
    &.p-button{
      width: auto;
      min-width: 25rem;
    }
  }

  &--big{
    &.p-button{
      padding: 4rem;
      font-size: 3rem;
    }
  }
}
