.b-btn {
  width: 100%;
  background-color: #FFFFFF;
  padding: 2rem;
  cursor: pointer;
  border: 2px solid $color-white;
  color: $color-primary-text;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  &--sec {
    background-color: cornflowerblue;
  }

  &--third {
    background-color: white;
  }
  &--auto{
    width: auto;
    min-width: 25rem;
  }
  &--big{
    padding: 4rem;
    font-size: 3rem;
  }
  &__icon{
    font-size: 3rem;
    margin: 0 1rem;
  }
}











