$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "fonts" !default;

$icon-calabaza: "\e900";
$icon-calabazaza: "\e901";
$icon-home2: "\e902";
$icon-home3: "\e903";
$icon-office: "\e904";
$icon-newspaper: "\e905";
$icon-pencil: "\e906";
$icon-pencil2: "\e907";
$icon-quill: "\e908";
$icon-pen: "\e909";
$icon-blog: "\e90a";
$icon-eyedropper: "\e90b";
$icon-droplet: "\e90c";
$icon-paint-format: "\e90d";
$icon-image: "\e90e";
$icon-images: "\e90f";
$icon-headphones: "\e910";
$icon-music: "\e911";
$icon-play: "\e912";
$icon-film: "\e913";
$icon-video-camera: "\e914";
$icon-dice: "\e915";
$icon-pacman: "\e916";
$icon-spades: "\e917";
$icon-clubs: "\e918";
$icon-diamonds: "\e919";
$icon-bullhorn: "\e91a";
$icon-connection: "\e91b";
$icon-podcast: "\e91c";
$icon-feed: "\e91d";
$icon-book: "\e91f";
$icon-books: "\e920";
$icon-library: "\e921";
$icon-file-text: "\e922";
$icon-profile: "\e923";
$icon-file-empty: "\e924";
$icon-files-empty: "\e925";
$icon-file-text2: "\e926";
$icon-file-picture: "\e927";
$icon-file-music: "\e928";
$icon-file-play: "\e929";
$icon-file-video: "\e92a";
$icon-file-zip: "\e92b";
$icon-copy: "\e92c";

